p{
    font-size: xx-large;
    text-align: center;
    margin-left: 110px;
    font-weight: bolder;
    margin-top: 150px;
    color: rgb(63, 231, 25);
}
#b1{
    margin-left: 500px;
    margin-top: 100px;
    padding: 20px 30px;
    border-radius: 20px;
    
}
#b2{
    margin-left: 100px;
    padding: 20px 30px;
    border-radius: 20px;
}
body{
    background-image: url("./hourglass-2910948_640.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
a{
    text-decoration: none;
    font-weight: bolder;
    font-size: medium;
    color: green;
}
button:hover{
    background-color: rgb(247, 191, 87);
}